<footer class="footer p-10 bg-base-200 text-base-content w-full">
    <aside>
        <!-- <img src="../../../assets/images/logo.png" alt="logo" class="w-24"> -->
        <a class="btn btn-ghost text-xl">Flytics</a>

        <!-- <p>Flytics<br/>Since 2023</p> -->
        <p class="opacity-30">© Flytics | Since 2023</p>
    </aside> 
    <nav>
      <header class="footer-title">Services</header>
    </nav> 
    <nav>
      <header class="footer-title">Company</header>
      <a routerLink="/about" class="link link-hover">About us</a>
      <a routerLink="/contact" class="link link-hover">Contact</a>
    </nav> 
    <nav>
      <header class="footer-title">Legal</header>
      <a routerLink="/tou" class="link link-hover">Terms of use</a>
      <a routerLink="/privacypolicy" class="link link-hover">Privacy policy</a>
      <a routerLink="/cookiepolicy" class="link link-hover">Cookie policy</a>
    </nav>
  </footer>