<div class="flex flex-col w-screen min-h-screen items-center justify-center">
    <div class="flex w-full justify-between p-3 items-center">

        <h1 class="text-2xl font-semibold">Account</h1>
        <div class="flex space-x-2">
            <a (click)="cancelInformation()" class="btn">Cancel</a>
            <a (click)="saveInformation()" [ngClass]="{'btn-disabled' : !somethingChanged()}" class="btn btn-primary btn-disabled"><i
                    class="fa-regular fa-floppy-disk"></i> Save</a>
        </div>
    </div>
    <div class="flex flex-col items-center w-10/12 max-w-72 flex-grow">


        <label for="profilePicture">
            <div class="avatar tooltip cursor-pointer placeholder" data-tip="Click to change">
                <div *ngIf="hasProfilePicture" class="w-24 rounded-full">
                    <img [src]="apiService.apiUrl+'/api/user/image?filename='+userData.profilePictureUrl" />
                </div>
                <div *ngIf="!hasProfilePicture" class="bg-neutral text-neutral-content rounded-full w-24">
                    <span class="text-3xl">{{ userData.first_name[0] }}</span>
                  </div>
            </div>
        </label>
        <input type="file" id="profilePicture" style="display:none" accept="image/*"
            (change)="changeProfilePicture($event)" />
            <a (click)="removeProfilePicture()" class="link link-primary">Remove picture</a>


        <div class="w-full">
            <label class="label">
                <span class="text-base label-text">First Name</span>
            </label>
            <input [(ngModel)]="userData.first_name" name="first_name" type="text" placeholder="John" class="w-full input input-bordered input-primary" />
        </div>
        <div class="w-full">
            <label class="label">
                <span class="text-base label-text">Last Name</span>
            </label>
            <input [(ngModel)]="userData.last_name" name="last_name" type="text" placeholder="Doe" class="w-full input input-bordered input-primary" />
        </div>
        <div class="w-full">
            <label class="label">
                <span class="text-base label-text">Username</span>
            </label>
            <input (ngModelChange)="checkAvailability($event)" [(ngModel)]="userData.username" name="username" type="text" placeholder="johndoe97" class="w-full input input-bordered input-primary" />
            <p id="usernameAvailable" class="hidden text-xs mt-2 text-green-500">{{userData.username}} is available</p>
            <p id="usernameNotAvailable" class="hidden text-xs mt-2 text-red-500">{{userData.username}} is not available</p>
        </div>
        <div class="w-full">
            <label class="label">
                <span class="text-base label-text">Email</span>
            </label>
            <input [(ngModel)]="userData.email" name="email" type="text" placeholder="johndoe@mail.exp" class="w-full input input-bordered input-primary" />
        </div>
        <br>
        <button class="btn btn-outline m-5 w-full" onclick="changePasswordModal.showModal()">Change password</button>
        <dialog id="changePasswordModal" class="modal modal-bottom sm:modal-middle">
            <div class="modal-box">
                <h3 class="font-bold text-lg">Change Password</h3>
                <form (ngSubmit)="changePassword()">
                    <div>
                        <label class="label">
                            <span class="text-base label-text">Current Password</span>
    
                        </label>
                        <input [(ngModel)]="passwordChangeData.currentPassword" name="currentPassword" id="currentPassword" type="password" placeholder="Enter Password" class="w-full input input-bordered input-primary" autocomplete="new-password"/>
                    </div>
                    <div>
                        <label class="label">
                            <span class="text-base label-text">New Password</span>
                            <div class="tooltip tooltip-left" data-tip="The password should be 8 characters long, at least contain one capital letter, one lowercase letter, and one special character">
                                <i class="fa-solid fa-circle-info text-sm text-gray-600"></i>
                              </div>
                        </label>
                        <input [(ngModel)]="passwordChangeData.newPassword" name="newPassword" id="newPassword" type="password" placeholder="Confirm Password" class="w-full input input-bordered input-primary" autocomplete="new-password" />
                    </div>
                    <div>
                        <label class="label">
                            <span class="text-base label-text">Confirm New Password</span>
                        </label>
                        <input [(ngModel)]="passwordChangeData.confirmNewPassword" name="confirmNewPassword" id="confirmNewPassword" type="password" placeholder="Confirm Password" class="w-full input input-bordered input-primary" autocomplete="new-password" />
                    </div>

                    <div class="modal-action">
                        <div class="flex items-center space-x-3">
                            <button type="submit" id="changePasswordButton" [ngClass]="{'btn-disabled' : loadingSpinner}" class="btn btn-outline"><span *ngIf="loadingSpinner" class="loading loading-spinner"></span>Change</button>
                            <form method="dialog">
                                <button id="passwordCloseButton" class="btn">Close</button>
                            </form>
                        </div>
    
                    </div>
                </form>
                

            </div>
        </dialog>
        <button class="btn btn-error m-5 w-full btn-outline" onclick="deleteModal.showModal()">Delete Account</button>
        <dialog id="deleteModal" class="modal modal-bottom sm:modal-middle">
            <div class="modal-box">
                <h3 id="modalTitle" class="font-bold text-lg">Delete Account!</h3>
                <p id="modalText" class="py-4">Are you sure. You won't be able to login after the account has been deleted!</p>
                <div class="modal-action">
                    <div class="flex items-center space-x-3">
                        <button id="deleteButton" (click)="doDeleteAccount()" [ngClass]="{'btn-disabled' : loadingSpinner}" class="btn btn-error"><span *ngIf="loadingSpinner" class="loading loading-spinner"></span>YES, DELETE!</button>
                        <form method="dialog">
                            <button id="deleteCloseButton" class="btn">Close</button>
                        </form>
                    </div>
                </div>
            </div>
        </dialog>

    </div>
</div>
<div *ngIf="alertService.showAlert" class="fixed top-4 right-4">
    <div role="alert" [ngClass]="{'alert-error': alertService.alertLevel == 'error', 'alert-success': alertService.alertLevel == 'success', 'alert-warning': alertService.alertLevel == 'warning', 'alert-info': alertService.alertLevel == 'info'}" class="alert">
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
        <span>{{ alertService.alertMessage}}</span>
      </div>
</div>