<div class="flex w-full h-full overflow-hidden flex-col">
  <div class="flex items-center justify-end mx-3">
    <!-- <select class="select select-bordered block">
      <option disabled selected>Sort</option>
      <option>Han Solo</option>
      <option>Greedo</option>
    </select> -->
    <!-- <div class="flex">
      <p class="text-xl font-bold">List</p>
    </div> -->

    <div class="flex items-center space-x-2">
      <span *ngIf="flightsLoading" class="loading loading-spinner loading-sm"></span>
      <div class="indicator">
        <span *ngIf="!filterOpen && filterSet()" class="indicator-item badge badge-primary"></span>
        <div class="grid place-items-center">
          <label for="filter-drawer" class="btn btn-neutral drawer-button">Filter</label>
        </div>
      </div>
    </div>

  </div>



  <!-- drawer down -->
  <div class="drawer z-50">

    <input id="filter-drawer" type="checkbox" class="drawer-toggle" [(ngModel)]="filterOpen" />

    <div class="drawer-side">
      <label for="filter-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
      <div class="menu p-4 max-w-96 w-10/12 min-h-full bg-base-200 space-y-4">
        <div class="flex justify-between items-center">
          <div class="flex flex-col">
            <h1 class="text-xl font-semibold">Filter</h1>
            <p class="text-xs text-primary">{{myFlights.length}} flights found</p>
          </div>
          <button (click)="clearFilter()" [ngClass]="{'btn-disabled' : !filterSet()}"
            class="btn btn-neutral btn-disabled"><i class="fa-solid fa-broom"></i> Clear</button>
        </div>
        <ul class="text-base-content space-y-2">
          <li>
            <div class="collapse collapse-arrow bg-base-100 auto-cols-auto">
              <input type="checkbox" />
              <div class="collapse-title text-md font-medium">
                <p class="font-semibold">Date</p>
                <p *ngIf="filterParameter.fromDateBool && !filterParameter.toDateBool" class="text-xs text-primary">
                  Since {{filterParameter.formatedFromDate | date: 'MMM d, yy'}}
                </p>
                <p *ngIf="!filterParameter.fromDateBool && filterParameter.toDateBool" class="text-xs text-primary">
                  To {{filterParameter.formatedToDate | date: 'MMM d, yy'}}
                </p>
                <p *ngIf="filterParameter.fromDateBool && filterParameter.toDateBool" class="text-xs text-primary">
                  {{filterParameter.formatedFromDate | date: 'MMM d, yy'}} - {{filterParameter.formatedToDate | date:
                  'MMM d, yy'}}
                </p>
              </div>

              <div class="collapse-content space-y-2">
                <div class="flex flex-col space-y-1">
                  <p class="text-xs">From</p>
                  <div class="flex items-center space-x-3">
                    <input type="checkbox" class="checkbox" [checked]="filterParameter.fromDateBool"
                      (change)="filterParameter.fromDateBool = !filterParameter.fromDateBool" />
                    <input [(ngModel)]="filterParameter.formatedFromDate" type="date" id="fromDate" name="fromDate"
                      class="w-full bg-transparent appearance-none p-2 border-2 border-gray-300 rounded-md focus:outline-none focus:border-blue-500" />
                  </div>
                </div>

                <div class="flex flex-col space-y-1">
                  <p class="text-xs">To</p>
                  <div class="flex items-center space-x-3">
                    <input type="checkbox" class="checkbox" [checked]="filterParameter.toDateBool"
                      (change)="filterParameter.toDateBool = !filterParameter.toDateBool" />
                    <input [(ngModel)]="filterParameter.formatedToDate" type="date" id="toDate" name="toDate"
                      class="w-full bg-transparent appearance-none p-2 border-2 border-gray-300 rounded-md focus:outline-none focus:border-blue-500" />
                  </div>
                </div>

              </div>
            </div>
          </li>

          <li>
            <div class="collapse collapse-arrow bg-base-100 auto-cols-auto">
              <input type="checkbox" />
              <div class="collapse-title text-md font-medium">
                <p class="font-semibold">Location</p>
                <!-- <p *ngIf="filterParameter.locationBool" class="text-xs text-primary">{{filterParameter.locationRange}}km</p> -->
                <p *ngIf="filterParameter.locationBool" class="text-xs text-primary">
                  {{filterParameter.locationCoordinates.lat.toFixed(2)}}/{{filterParameter.locationCoordinates.lng.toFixed(2)}},
                  {{filterParameter.locationRange}}km</p>
              </div>

              <div class="collapse-content space-y-2">

                <div class="flex flex-col space-y-1">
                  <p class="text-xs">Enable</p>
                  <input type="checkbox" class="checkbox" [checked]="filterParameter.locationBool"
                    (change)="filterParameter.locationBool = !filterParameter.locationBool" />
                </div>


                <div class="flex flex-col space-y-1">
                  <p class="text-xs">Range (km)</p>
                  <div class="flex items-center space-x-3">
                    <input [(ngModel)]="filterParameter.locationRange" type="number" id="locationRange" min="0"
                      name="locationRange"
                      class="w-full bg-transparent appearance-none p-2 border-2 border-gray-300 rounded-md focus:outline-none focus:border-blue-500" />
                  </div>
                </div>

                <div class="flex flex-col space-y-1">
                  <p class="text-xs">Location</p>
                  <div class="h-32 w-full">
                    <app-map mapId="locationMap" (mapClick)="handleMapClick($event)"></app-map>
                  </div>
                </div>

              </div>
            </div>
          </li>

          <li>
            <div class="collapse collapse-arrow bg-base-100 auto-cols-auto">
              <input type="checkbox" />
              <!-- <p *ngIf="filterParameter.locationBool" class="text-xs text-primary">{{filterParameter.locationRange}}km</p> -->
              <div class="collapse-title text-md font-medium">
                <p class="font-semibold">Distance</p>
                <p *ngIf="filterParameter.distanceMinBool && !filterParameter.distanceMaxBool"
                  class="text-xs text-primary">
                  {{filterParameter.distanceMin}}km and up
                </p>
                <p *ngIf="!filterParameter.distanceMinBool && filterParameter.distanceMaxBool"
                  class="text-xs text-primary">
                  up to {{filterParameter.distanceMin}}km
                </p>
                <p *ngIf="filterParameter.distanceMinBool && filterParameter.distanceMaxBool"
                  class="text-xs text-primary">
                  Between {{filterParameter.distanceMin}}km and {{filterParameter.distanceMax}}km
                </p>
              </div>

              <div class="collapse-content space-y-2">


                <div class="flex flex-col space-y-1">
                  <p class="text-xs">Min Distance (km)</p>
                  <div class="flex items-center space-x-3">
                    <input type="checkbox" class="checkbox" [checked]="filterParameter.distanceMinBool"
                      (change)="filterParameter.distanceMinBool = !filterParameter.distanceMinBool" />
                    <input [(ngModel)]="filterParameter.distanceMin" type="number" id="distanceMin" min="0"
                      name="distanceMin"
                      class="w-full bg-transparent appearance-none p-2 border-2 border-gray-300 rounded-md focus:outline-none focus:border-blue-500" />
                  </div>
                </div>


                <div class="flex flex-col space-y-1">
                  <p class="text-xs">Max Distance (km)</p>
                  <div class="flex items-center space-x-3">
                    <input type="checkbox" class="checkbox" [checked]="filterParameter.distanceMaxBool"
                      (change)="filterParameter.distanceMaxBool = !filterParameter.distanceMaxBool" />
                    <input [(ngModel)]="filterParameter.distanceMax" type="number" id="distanceMax" min="0"
                      name="distanceMax"
                      class="w-full bg-transparent appearance-none p-2 border-2 border-gray-300 rounded-md focus:outline-none focus:border-blue-500" />
                  </div>
                </div>

              </div>
            </div>
          </li>

        </ul>
      </div>

    </div>

  </div>
  <!-- drawer up -->

  <!-- flight detail down -->
  <dialog id="flightDetailModal" class="modal">
    <div class="modal-box">
      <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
      </form>
      <div class="flex flex-col w-full">

        <h3 class="font-bold text-lg pb-4">Flight #{{currentSelectedFlight.id}}</h3>


        <div class="h-52 w-full">
          <app-map mapId="detailMap"></app-map>
        </div>


        <div role="tablist" class="tabs tabs-boxed my-2">
          <a role="tab" class="tab" [ngClass]="detailFlightTab ? 'tab-active' : ''" (click)="detailFlightTab = !detailFlightTab">Information</a>
          <a role="tab" class="tab" [ngClass]="detailFlightTab ? '' : 'tab-active'" (click)="detailFlightTab = !detailFlightTab">Actions</a>
        </div>


        <div *ngIf="detailFlightTab">

          
          <div class="flex justify-between items-center py-2">
            <div class="overflow-x-auto w-full">
              <table class="table table-xs">
                <thead>
                  <tr>
                    <th class="w-4/12">General</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Country</td>
                    <td>{{currentSelectedFlight.country}}</td>
                  </tr>
                  <tr>
                    <td>Location</td>
                    <td>{{currentSelectedFlight.location}}</td>
                  </tr>
                  <tr>
                    <td>Date</td>
                    <td>{{currentSelectedFlight.start_time | date:'dd. MMMM yyyy'}}</td>
                  </tr>
                  <tr>
                    <td>Duration</td>
                    <td class="flex space-x-1">
                      <p *ngIf="(currentSelectedFlight && currentSelectedFlight.duration! / 3600) >= 1">{{ currentSelectedFlight ? floorNumber(currentSelectedFlight.duration!/3600) :'N/A' }}h</p><p>{{currentSelectedFlight ? ((currentSelectedFlight.duration! % 3600) / 60).toFixed(0) : 'N/A'}}min</p>
                    <!-- {{ currentSelectedFlight.start_time ? currentSelectedFlight.duration : 'N/A'}}</td> -->
                  </tr>
                  <tr>
                    <td>Timezone</td>
                    <td>
                      {{ currentSelectedFlight.timezone ? currentSelectedFlight.timezone : 'N/A'}}
                      <span *ngIf="currentSelectedFlight && currentSelectedFlight.timezone_dst_offset! + currentSelectedFlight.timezone_raw_offset! != 0" class="opacity-60">
                        {{currentSelectedFlight ? (currentSelectedFlight.timezone_dst_offset! + currentSelectedFlight.timezone_raw_offset!) > 0 ? "+" : "": ''}}{{currentSelectedFlight ? (currentSelectedFlight.timezone_dst_offset! + currentSelectedFlight.timezone_raw_offset!) / 3600+"h" : 'N/A'}}
                    </span>
                  </td>
                  </tr>
                  <tr>
                    <td>Distance</td>
                    <td>{{ currentSelectedFlight.distance ? (currentSelectedFlight.distance / 1000).toFixed(2) : 'N/A' }} km</td>
                  </tr>
                  <tr>
                    <td>Air Distance</td>
                    <td>{{ currentSelectedFlight ? ( (functions.calculateDistance(currentSelectedFlight.start_lat!, currentSelectedFlight.start_long!, currentSelectedFlight.end_lat!, currentSelectedFlight.end_long!) /1000).toFixed(2)) : 'N/A' }} km</td>
                  </tr>
                  <tr>
                    <td>⌀ Speed</td>
                    <td>{{ currentSelectedFlight.distance && currentSelectedFlight.duration ? ((currentSelectedFlight.distance/1000) / (currentSelectedFlight.duration!/3600)).toFixed(1)+" km/h" : 'N/A'}}</td>
                  </tr>
                  <tr>
                    <!-- tbd vorzeichen -->
                    <td>Δ Height</td>
                    <td>{{ currentSelectedFlight ? (currentSelectedFlight.start_height! - currentSelectedFlight.end_height!).toFixed(0) : 'N/A' }} m</td>
                  </tr>
                  <tr>
                    <td>Max Height</td>
                    <td>{{ currentSelectedFlight ? currentSelectedFlight.max_height : 'N/A' }} MASL</td>
                  </tr>
                  <tr>
                    <td>Min Height</td>
                    <td>{{ currentSelectedFlight ? currentSelectedFlight.min_height : 'N/A' }} MASL</td>
                  </tr>
                </tbody>
              </table>
              <br>

              <table class="table table-xs">
                <thead>
                  <tr>
                    <th class="w-4/12">Start</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Time</td>
                    <td>{{currentSelectedFlight.start_time ? (realDateTime(currentSelectedFlight.start_time, currentSelectedFlight.timezone_raw_offset!, currentSelectedFlight.timezone_dst_offset!) | date:'H:mm':'GMT') : 'N/A'}}</td>
                  </tr>
                  <tr>
                    <td>Coordinates</td>
                    <td>{{currentSelectedFlight.start_lat}}, {{currentSelectedFlight.start_long}} <a href="https://www.google.com/maps/@{{currentSelectedFlight.start_lat}},{{currentSelectedFlight.start_long}}" target="_blank" title="Show on Google Maps" class="text-xs"><i class="fa-solid fa-arrow-up-right-from-square"></i></a></td>
                  </tr>
                  <tr>
                    <td>Height</td>
                    <td>{{currentSelectedFlight.start_height}} MASL</td>
                  </tr>
                </tbody>
              </table>
              <br>

              <table class="table table-xs">
                <thead>
                  <tr>
                    <th class="w-4/12">End</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Time</td>
                    <td>{{currentSelectedFlight.start_time ? (realDateTime(currentSelectedFlight.start_time, currentSelectedFlight.timezone_raw_offset!, currentSelectedFlight.timezone_dst_offset!+currentSelectedFlight.duration!) | date:'H:mm':'GMT') : 'N/A'}}</td>
                  </tr>
                  <tr>
                    <td>Coordinates</td>
                    <td>{{currentSelectedFlight.end_lat}}, {{currentSelectedFlight.end_long}} <a href="https://www.google.com/maps/@{{currentSelectedFlight.end_lat}},{{currentSelectedFlight.end_long}}" target="_blank" title="Show on Google Maps"><i class="fa-solid fa-arrow-up-right-from-square"></i></a></td>
                  </tr>
                  <tr>
                    <td>Height</td>
                    <td>{{currentSelectedFlight.end_height}} MASL</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <br>

          <table class="table table-xs">
            <thead>
              <tr>
                <th class="w-4/12">Height Profile</th>
              </tr>
            </thead>
            <tr>
              <td>

              </td>
            </tr>
            <tbody class="w-full">
              <div class="flex h-52 w-full justify-center my-2 items-center flex-col">
                <ngx-charts-line-chart [tooltipDisabled]="true" [showGridLines]="true" [xAxis]="false" [wrapTicks]="true" [yAxis]="true" [results]="detailFlightHeightProfile" [scheme]="'air'" [animations]="false" style="fill: rgb(127, 127, 127);" [legend]="false" [legendPosition]="legendBelow" [autoScale]="true"></ngx-charts-line-chart>
              </div>
            </tbody>
          </table>


        </div>

        <div *ngIf="!detailFlightTab">
          <div class="flex py-2 flex-col space-y-4">
            <!-- <div class="flex items-center space-x-2">
              <select class="select select-bordered max-w-xs">
                <option disabled selected>Select file type</option>
                <option>KML</option>
                <option>IGC</option>
                <option>GeoJSON</option>
              </select>
              <button class="btn">Download</button>
            </div> -->


            <div class="flex justify-between items-center">
              <p>Download flight</p>
              <div class="join">
                <span (click)="downloadFlight(currentSelectedFlight.id!,'kml')" class="join-item badge badge-neutral cursor-pointer hover:badge-primary">KML</span>
                <span (click)="downloadFlight(currentSelectedFlight.id!, 'geojson')" class="join-item badge badge-neutral cursor-pointer hover:badge-primary">GeoJSON</span>
                <span (click)="downloadFlight(currentSelectedFlight.id!, 'igc')" class="join-item badge badge-neutral cursor-pointer hover:badge-primary">IGC</span>
              </div>
            </div>
  
            <button (click)="compareFlight(currentSelectedFlight.id!)" class="btn"><i class="fa-solid fa-code-compare"></i> Compare to another flight</button>
            <button (click)="deleteFlight(currentSelectedFlight!.id ?? 0)" class="btn btn-error"><i class="fa-solid fa-trash"></i> Delete Flight</button>


          </div>
        </div>








      </div>

    </div>
  </dialog>
  <!-- flight detail up -->

  <!-- <p class="text-xs px-4">{{myFlights.length}} total</p> -->
  <div role="tablist" class="tabs tabs-lifted m-2 overflow-hidden max-h-full">
    <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="List" checked />
    <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box h-full overflow-scroll">
      <p *ngIf="myFlights.length == 0" class="p-2 text-xs">There are currently no Flights. Click <span class="link"
          routerLink="/add">here</span> to add one</p>
      <div *ngIf="myFlights.length > 0" class="h-full overflow-y-auto">
        <table class="table table-zebra table-pin-rows table-pin-cols">
          <thead>
            <tr>
              <th></th>
              <td (click)="sortTable('start_time')" class="cursor-pointer" [class.sorted]="sortColumn === 'start_time'">
                Date <i class="fa-solid fa-chevron-down"
                  *ngIf="sortColumn === 'start_time' && sortDirection === 'desc'"></i>
                <i class="fa-solid fa-chevron-up" *ngIf="sortColumn === 'start_time' && sortDirection === 'asc'"></i>
              </td>
              <td (click)="sortTable('location')" class="cursor-pointer" [class.sorted]="sortColumn === 'location'">
                Location <i class="fa-solid fa-chevron-down"
                  *ngIf="sortColumn === 'location' && sortDirection === 'asc'"></i>
                <i class="fa-solid fa-chevron-up" *ngIf="sortColumn === 'location' && sortDirection === 'desc'"></i>
              </td>
              <td (click)="sortTable('distance')" class="cursor-pointer" [class.sorted]="sortColumn === 'distance'">
                Distance <i class="fa-solid fa-chevron-down"
                  *ngIf="sortColumn === 'distance' && sortDirection === 'desc'"></i>
                <i class="fa-solid fa-chevron-up" *ngIf="sortColumn === 'distance' && sortDirection === 'asc'"></i>
              </td>
              <td (click)="sortTable('duration')" class="cursor-pointer" [class.sorted]="sortColumn === 'duration'">
                Duration <i class="fa-solid fa-chevron-down"
                  *ngIf="sortColumn === 'duration' && sortDirection === 'desc'"></i>
                <i class="fa-solid fa-chevron-up" *ngIf="sortColumn === 'duration' && sortDirection === 'asc'"></i>
              </td>
              <td (click)="sortTable('start_height')" class="cursor-pointer" [class.sorted]="sortColumn === 'start_height'">
                Start Height <i class="fa-solid fa-chevron-down"
                  *ngIf="sortColumn === 'start_height' && sortDirection === 'desc'"></i>
                <i class="fa-solid fa-chevron-up" *ngIf="sortColumn === 'start_height' && sortDirection === 'asc'"></i>
              </td>
              <td (click)="sortTable('end_height')" class="cursor-pointer" [class.sorted]="sortColumn === 'end_height'">
                End Height <i class="fa-solid fa-chevron-down"
                  *ngIf="sortColumn === 'end_height' && sortDirection === 'desc'"></i>
                <i class="fa-solid fa-chevron-up" *ngIf="sortColumn === 'end_height' && sortDirection === 'asc'"></i>
              </td>
              <td (click)="sortTable('min_height')" class="cursor-pointer" [class.sorted]="sortColumn === 'min_height'">
                Min Height <i class="fa-solid fa-chevron-down"
                  *ngIf="sortColumn === 'min_height' && sortDirection === 'desc'"></i>
                <i class="fa-solid fa-chevron-up" *ngIf="sortColumn === 'min_height' && sortDirection === 'asc'"></i>
              </td>
              <td (click)="sortTable('max_height')" class="cursor-pointer" [class.sorted]="sortColumn === 'max_height'">
                Max Height <i class="fa-solid fa-chevron-down"
                  *ngIf="sortColumn === 'max_height' && sortDirection === 'desc'"></i>
                <i class="fa-solid fa-chevron-up" *ngIf="sortColumn === 'max_height' && sortDirection === 'asc'"></i>
              </td>
            </tr>
          </thead>
          <tbody class="">
            <tr class="hover cursor-pointer" *ngFor="let flight of myFlights; let i = index"
              (click)="showFlightDetail(flight)">
              <th class="text-xs">#{{flight.id}}</th>
              <td class="">
                <p class="whitespace-nowrap">{{flight.start_time | date: 'MMM d, yyyy'}}</p>
                <!-- <p>{{flight.start_time | date: 'H:mm'}}</p> -->

                <p>{{realDateTime(flight.start_time, flight.timezone_raw_offset, flight.timezone_dst_offset) | date:
                  'H:mm':'GMT'}}</p>
              </td>
              <td>
                <div class="flex space-x-1">
                  <img src="https://flagcdn.com/{{flight.country_code.toLowerCase()}}.svg" class="w-3 object-contain"
                    alt="{{flight.country}}" title="{{flight.country}}">
                  <a class="whitespace-normal" target="_blank">{{flight.location}}</a>
                  <!-- <a href="http://maps.google.com/maps?q={{flight.start_lat}},{{flight.start_long}}" class="whitespace-normal" target="_blank">{{flight.location}}</a> -->
                </div>
              </td>
              <td>{{(flight.distance/1000).toFixed(1)}}km</td>
              <td>
                <div class="flex space-x-1">
                  <p *ngIf="(flight.duration / 3600) >= 1">{{ floorNumber(flight.duration/3600) }}h</p>
                  <p>{{((flight.duration % 3600) / 60).toFixed(0)}}min</p>

                </div>
                <!-- {{ Math.floor(flight.duration / 3600) }}h {{ Math.round((flight.duration % 3600) / 60) }}m -->
              </td>
              <td>
                <div class="flex space-x-1">
                  <p>{{ flight.start_height }}</p>
                </div>
              </td>
              <td>
                <div class="flex space-x-1">
                  <p>{{ flight.end_height }}</p>
                </div>
              </td>
              <td>
                <div class="flex space-x-1">
                  <p>{{ flight.min_height }}</p>
                </div>
              </td>
              <td>
                <div class="flex space-x-1">
                  <p>{{ flight.max_height }}</p>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <input type="radio" (click)="openFlightMap()" name="my_tabs_2" role="tab" class="tab" aria-label="Map" />
    <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-2 z-20">
      <div class="h-96">
        <app-map mapId="flightsMap" [location]="{lat: 0, lng: 0}" [zoom]="2"></app-map>
      </div>
    </div>

    <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="Stats" />
    <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box h-full overflow-scroll">
      <div class="flex w-full flex-wrap justify-center p-2">

        <div class="flex rounded-xl flex-col space-y-2 p-4 w-full">
          <p class="text-2xl font-semibold">Numbers</p>
          <div class="flex w-full flex-wrap">
            <div class="w-full sm:w-6/12 xl:w-4/12 2xl:2/12 h-52" *ngFor="let chart of statsData; let i = index">
              <ngx-charts-number-card [results]="chart" [scheme]="'air'" [animations]="true"
              style="fill: rgb(127, 127, 127);"></ngx-charts-number-card>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>


</div>


<div *ngIf="alertService.showAlert" class="fixed top-4 right-4 z-50">
  <div role="alert" [ngClass]="{'alert-error': alertService.alertLevel == 'error', 'alert-success': alertService.alertLevel == 'success', 'alert-warning': alertService.alertLevel == 'warning', 'alert-info': alertService.alertLevel == 'info'}" class="alert">
      <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
      <span>{{ alertService.alertMessage}}</span>
    </div>
</div>