<div class="flex w-full min-h-screen justify-center items-center">
    <div class="flex w-full h-full flex-col items-center justify-center py-10">
        <form class="space-y-2 w-10/12 max-w-96">
            <h1 class="w-full text-2xl font-semibold">Sign up</h1>
            <div>
                <label class="label">
                    <span class="text-base label-text">First Name</span>
                </label>
                <input [(ngModel)]="userData.first_name" name="first_name" id="registerFirstName" type="text" placeholder="John" class="w-full input input-bordered input-primary" />
            </div>
            <div>
                <label class="label">
                    <span class="text-base label-text">Last Name</span>
                </label>
                <input [(ngModel)]="userData.last_name" name="last_name" id="registerLastName" type="text" placeholder="Doe" class="w-full input input-bordered input-primary" />
            </div>
            <div>
                <label class="label">
                    <span class="text-base label-text">Username</span>
                </label>
                <input (ngModelChange)="checkAvailability($event)" [(ngModel)]="userData.username" name="username" id="registerUsername" type="text" placeholder="johndoe97" class="w-full input input-bordered input-primary" />
                <p id="usernameAvailable" class="hidden text-xs mt-2 text-green-500">{{userData.username}} is available</p>
                <p id="usernameNotAvailable" class="hidden text-xs mt-2 text-red-500">{{userData.username}} is not available</p>
            </div>
            <div>
                <label class="label">
                    <span class="text-base label-text">Email</span>
                </label>
                <input [(ngModel)]="userData.email" name="email" id="registerEmail" type="text" placeholder="johndoe@mail.exp" class="w-full input input-bordered input-primary" autocomplete="username"/>
            </div>
            <div>
                <label class="label">
                    <span class="text-base label-text">Password</span>
                    <div class="tooltip tooltip-left" data-tip="The password should be 8 characters long, at least contain one capital letter, one lowercase letter, and one special character">
                        <i class="fa-solid fa-circle-info text-sm text-gray-600"></i>
                      </div>
                </label>
                <input [(ngModel)]="userData.password" name="password" id="registerPassword" type="password" placeholder="Enter Password" class="w-full input input-bordered input-primary" autocomplete="new-password"/>
            </div>
            <div>
                <label class="label">
                    <span class="text-base label-text">Confirm Password</span>
                </label>
                <input [(ngModel)]="userData.confirmPassword" name="confirmPassword" id="registerConfirmPassword" type="password" placeholder="Confirm Password" class="w-full input input-bordered input-primary" autocomplete="new-password" />
            </div>
            <br>
            <div class="flex items-center space-x-2">
                <input id="registerAcceptToU" type="checkbox" class="checkbox" />
                <label for="registerAcceptToU" class="text-gray-600 text-xs cursor-pointer">I accept the <span
                        class="text-gray-600 hover:underline hover:text-primary"><a routerLink="/tou" target="_blank">Terms of
                            Use</a></span>, the <span class="text-gray-600 hover:underline hover:text-primary"><a routerLink="/privacypolicy"
                            target="_blank">Privacy Policy</a></span> and the <span class="text-gray-600 hover:underline hover:text-primary"><a routerLink="/cookiepolicy"
                                target="_blank">Cookie Policy</a></span></label>
            </div>
            <br>
            <div class="flex w-full items-center justify-between">
                <a (click)="signup()" id="signupButton" class="btn btn-primary disabled"><span *ngIf="loadingSpinner" class="loading loading-spinner"></span>Sign up</a>
                <div class="flex">
                    <p>Already a member?</p>
                    <a routerLink="/login" class="text-primary px-2">Login</a>
                </div>
            </div>


        </form>
    </div>
</div>

<div *ngIf="alertService.showAlert" class="fixed top-4 right-4">
    <div role="alert" class="alert alert-{{ alertService.alertLevel }}">
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
        <span>{{ alertService.alertMessage }}</span>
      </div>
</div>

