<div class="flex flex-col items-center min-h-screen">
    <div class="flex items-center justify-between w-full">
        <img src="../../../assets/images/logo.png" alt="logo" class="w-24 m-4">
    
        <a routerLink="/login" class="btn mx-8">Login</a>
    </div>
    <div class="flex-col flex-grow">
        <p>content</p>
    </div>
    <footer class="footer p-10 bg-base-200 text-base-content">
        <aside>
            <img src="../../../assets/images/logo.png" alt="logo" class="w-24">
            <p>Flytics<br/>Since 2023</p>
        </aside> 
        <nav>
          <header class="footer-title">Services</header>
        </nav> 
        <nav>
          <header class="footer-title">Company</header>
          <a routerLink="/about" class="link link-hover">About us</a>
          <a routerLink="/contact" class="link link-hover">Contact</a>
        </nav> 
        <nav>
          <header class="footer-title">Legal</header>
          <a routerLink="/tou" class="link link-hover">Terms of use</a>
          <a routerLink="/privacypolicy" class="link link-hover">Privacy policy</a>
          <a routerLink="/cookiepolicy" class="link link-hover">Cookie policy</a>
        </nav>
      </footer>
</div>
